@page "/"

<PageTitle>Home</PageTitle>

<div class="container-xxl">
    <div class="bg-light p-5 rounded shadow">
        <h1>
            Task Tracker
        </h1>
        <p class="lead">
            Task tracking sample application
        </p>
    </div>
</div>
